@model Med_Tracker.Models.Patient

@{
    ViewBag.Btn = Model != null ? "Save" : "Sign Up";
    ViewBag.emailState = Model != null ? "disabled" : "enabled";
    ViewBag.Title = Model != null ? "Edit" :"Register";
}

<h2 class="my-4 mx-auto" style="width: 50%;">@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    


    <div class="form-horizontal mx-auto" style="width: 50%;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Create Patient Account</h4>
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NHSNumber)
                @Html.HiddenFor(model => model.Confirmed)
                @Html.HiddenFor(model => model.RegToken)

                <div class="form-group">
                    @Html.DisplayName("First Name")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayName("Last Name")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = ViewBag.emailState } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayName("Password")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Re_PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Re_PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Re_PasswordHash, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@ViewBag.Btn class="btn btn-success w-100 text-white my-4" />
                    </div>
                </div>
            </div>
        </div>

            </div>

            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
